In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [5]:
# create empty series
A=pd.Series()
A

Series([], dtype: float64)

In [6]:
# create series with one elements
B=pd.Series(30)
B

0    30
dtype: int64

In [11]:
# create series usings list
colors=["blue","green","orange","pink","white"]
series=pd.Series(colors)
series

0      blue
1     green
2    orange
3      pink
4     white
dtype: object

In [8]:
# create series using tuple
numbers=(11,12,56,45,45,75,85)
data=pd.Series(numbers)
data

0    11
1    12
2    56
3    45
4    45
5    75
6    85
dtype: int64

In [12]:
pd.Series([1,2,5,7,8,True,False,"python"])

0         1
1         2
2         5
3         7
4         8
5      True
6     False
7    python
dtype: object

In [13]:
days=pd.Series(["mon","tues","wed","thurs","fri"])
days

0      mon
1     tues
2      wed
3    thurs
4      fri
dtype: object

In [14]:
days.index=["day1","day2","day3","day4","day5"]

In [15]:
days

day1      mon
day2     tues
day3      wed
day4    thurs
day5      fri
dtype: object

In [16]:
days=pd.Series(["mon","tues","wed","thurs","fri"],index=["day1","day2","day3","day4","day5"])
days

day1      mon
day2     tues
day3      wed
day4    thurs
day5      fri
dtype: object

In [19]:
# fetch wed

In [20]:
# fetch tues,wed

In [21]:
# fetch everthing from wed

In [22]:
# fetch everything till thursday